In [11]:
#Question 1

ages=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#sortedAges = sorted(ages)
ages.sort()
print("Sorted list is: ",ages)   #sorted list
minAge=min(ages)
maxAge=max(ages)
ages.append(minAge)      
ages.append(maxAge)              #appended minimum and maximum age to the list
ages.sort()
print('List after appending min & max: ',ages)
lstLen = len(ages)
index = (lstLen) // 2        #middle indexed number

if (lstLen % 2)==0:
    print("Median of the list is: ",(ages[index] + ages[index + 1])/2.0) #median if there are even number of ages
else:
    print("Median of the list is: ",ages[index]) #median if there are odd number of ages
    
averageAge=sum(ages)/lstLen  #mean of ages
print("Mean of the list is: ",averageAge)
rangeOfAges=max(ages)-min(ages) #range of ages
print("Range of the list is: ",rangeOfAges)

Sorted list is:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
List after appending min & max:  [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Median of the list is:  24.0
Mean of the list is:  22.75
Range of the list is:  7

In [15]:
#Question 2

dog={}
dog['name'] = 'Chintu' #assigning values to the dog dict using keys
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 3
#print("Updated Dog Dictionary: ",dog)
student={'first_name':'Rakesh', 'last_name':'Kolagani', 'gender':'Male', 'age':24, 'marital status': 'Unmarried',
'skills':['python','java','sql'], 'country':'India', 'city':'Jagtial', 'address':'5-38/1 Krishna Nagar'}
print("Length of Student Dictionary: ",len(student)) #printing the length of student dictionary
x_skills=student['skills']
print(x_skills)
print(type(x_skills))  #printing the data type of value of skills key 
student['skills'].extend(['Machine Learning','Database']) #adding an elements to the skills using extend function
print(student)
k=student.keys()   #finding keys of dict using .keys() method
v=student.values() #finding values of dict using .values() method
print("Keys: ",k,'\n',"Values: ",v)

Length of Student Dictionary:  9
['python', 'java', 'sql']
<class 'list'>
{'first_name': 'Rakesh', 'last_name': 'Kolagani', 'gender': 'Male', 'age': 24, 'marital status': 'Unmarried', 'skills': ['python', 'java', 'sql', 'Machine Learning', 'Database'], 'country': 'India', 'city': 'Jagtial', 'address': '5-38/1 Krishna Nagar'}
Keys:  dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
 Values:  dict_values(['Rakesh', 'Kolagani', 'Male', 24, 'Unmarried', ['python', 'java', 'sql', 'Machine Learning', 'Database'], 'India', 'Jagtial', '5-38/1 Krishna Nagar'])

In [12]:
#Question 3

sisters=('Pranavi','Deekshita','Sahasra')
brothers=('Nithin','Sricharan','Nihansh')
siblings=sisters+brothers #appending the tuples
print('Siblings: ',siblings)
print('I have ',len(siblings),'siblings')    #printing length of siblings tuple
fam=siblings+('Lingareddy','Padma')         #adding father and mother names to family tuple
print('Family Members: ',fam)

Siblings:  ('Pranavi', 'Deekshita', 'Sahasra', 'Nithin', 'Sricharan', 'Nihansh')
I have  6 siblings
Family Members:  ('Pranavi', 'Deekshita', 'Sahasra', 'Nithin', 'Sricharan', 'Nihansh', 'Lingareddy', 'Padma')

In [12]:
#Question 4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print('Length of it_companies: ',len(it_companies))
it_companies.add('Twitter')       #added Twitter to the set
print('Updated set after adding Twitter: \n',it_companies)
it_companies.update({'Wipro','Deloitte','Bosch'}) #Inserting multiple IT companies at once to the set it_companies
print('Updated set after inserting multiple companies at once: \n',it_companies)
it_companies.remove('Facebook')   #removing one element from the set
print('Updated set after reoving an element: \n',it_companies)
it_companies.discard('TCS')  #discard won't throw an error if the value is not found in the set


print('\nJoin of A and B: ',A.union(B))  #union of A and B A|B
print('Intersection of A and B: ', A.intersection(B)) #intersection of A and B A&B
print('Is A subset of B: ', A.issubset(B))  #is A subset of B
print('Are A and B disjoint sets: ', A.isdisjoint(B)) #are A and B disjoint sets
print('A U B: ', A.union(B), '\n','B U A: ', B.union(A))
print('symmetric difference between A and B: ', A.symmetric_difference(B)) #symmetric difference
del A, B
ages_set=set(age) #creating a set from given list
print('\nLength of age list:' ,len(age),'Length of age set: ',len(ages_set))
if len(age)==len(ages_set): #comparing the lengths of list and set
    print("\nBoth the list and set are of equal length")
else:
    print("Both lengths are not equal")

Length of it_companies:  7
Updated set after adding Twitter:
 {'Microsoft', 'Facebook', 'Apple', 'Oracle', 'Google', 'IBM', 'Amazon', 'Twitter'}
Updated set after inserting multiple companies at once:
 {'Deloitte', 'Facebook', 'Amazon', 'Twitter', 'Microsoft', 'Apple', 'Oracle', 'Google', 'IBM', 'Bosch', 'Wipro'}
Updated set after reoving an element:
 {'Deloitte', 'Amazon', 'Twitter', 'Microsoft', 'Apple', 'Oracle', 'Google', 'IBM', 'Bosch', 'Wipro'}

Join of A and B:  {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B:  {19, 20, 22, 24, 25, 26}
Is A subset of B:  True
Are A and B disjoint sets:  False
A U B:  {19, 20, 22, 24, 25, 26, 27, 28}
 B U A:  {19, 20, 22, 24, 25, 26, 27, 28}
symmetric difference between A and B:  {27, 28}

Length of age list: 8 Length of age set:  5
Both lengths are not equal

In [11]:
### Question 5

rad=30
areaOfCircle=3.14*rad**2 #pie values is 3.14
print('Area of the circle is: ',areaOfCircle)
circumference=2*3.14*rad                                #circumference of the circle
print('Circumference of the circle is: ', circumference)
r=int(input())                                          #taking the radius input from the user entering same 30 as radius to tally the output
print('Area of the circle for user input radius is: ',3.14*r**2)

Area of the circle is:  2826.0
Circumference of the circle is:  188.4
Area of the circle for user input radius is:  2826.0

In [20]:
#Question 6

s="I am a teacher and I love to inspire and teach people"
#we can use split() function to split the string into a list of words
#we can convert that list into set to count the number of unique words through the length of set
lst=s.split()
s_set=set(lst)

print('Number of unique words are: ',len(s_set))

Number of unique words are:  10

In [47]:
#Question 7

print('Name \t\tAge \tCountry \tCity')
print('Asabeneh \t250 \tFinland \tHelsinki')

Name 		Age 	Country 	City
Asabeneh 	250 	Finland 	Helsinki

In [16]:
#Question 8

radius = 10
area = 3.14 * radius ** 2
print(f"The area of a circle with radius {radius} is {area} meters square.")  #To find the radius of the circle

The area of a circle with radius 10 is 314.0 meters square.

In [19]:
#Question 9

n=int(input("Enter Number of Students: ")) #taking number of students input from the user
lst=[] #creating empty list for weights
for i in range(n):
    inp=int(input("Enter weight for student %d: "%i)) #taking weights of each student input from user
    lst.append(inp) #appending user entered weights to empty list
    
res=[] #created empty list for converted weights
for i in lst:
    res.append(round(i*0.453592,2)) #adding converted weights to res list
    
print('weights in KG: ',res)

Enter Number of Students: 4
Enter weight for student 0: 150
Enter weight for student 1: 155
Enter weight for student 2: 145
Enter weight for student 3: 148
weights in KG:  [68.04, 70.31, 65.77, 67.13]